body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.button-container{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: transparent;
    opacity: 0.8;
}
.exit {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
}

.button-container:hover .exit {
    transform: scale(1.2);
    opacity: 1;

}