body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.snow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/snow_background.png');
    background-size: cover;
    animation: animationSnow 10s linear;
    animation-iteration-count: infinite;
}
@keyframes animationSnow{
    0%{
        transform: translate(0,0);
        opacity: 0;
        top:-650px
    }50%{
        opacity: 0.8;
         }
    100%{
         transform: translate(100px,100vh);
         opacity:0.3;
         }

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    z-index: 1;
    gap: 20px;
}
#reindeer{
    display: flex;
    position: fixed;
    top: 45vh;
    width: 70vh;
    height: auto;
    bottom: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);}
.button {
    margin-top: 35vh;
    width: 40%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: transparent;
    border: none;
}
.button:hover {
    transform: scale(1.1);
}

#leftButton{
    width: 150px;
    height: auto;
}
#rightButton{
    width: 150px;
    height: auto;
}

#letter-box {
    position: absolute;
    padding: 0.5rem;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    background-color: #fffabb;
    text-shadow: #FC0 1px 0 10px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    display: flex;

    align-items: center;
    gap: 0.5rem;
}

#icon {
    width: 4rem;
    height: auto;
}

#letter {
    margin: 0;
}

#music-button {
    position: fixed;
    top: 17%;
    left: 4%;
    width: 5rem;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 50%
}

#music-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
